<mat-toolbar color="primary" class="mat-elevation-z4" *ngIf="estaAutenticado">
  <span>Banco</span>

  <nav class="menu-items">
    <ng-container *ngFor="let item of menu">
      <a 
        mat-button 
        [routerLink]="item.rota" 
        routerLinkActive="active-link"
        *ngIf="item.niveis.includes(nivel)"
      >
        <mat-icon>{{item.icone}}</mat-icon>
        {{item.descricao}}
      </a>
    </ng-container>
  </nav>

  <span class="spacer"></span>

  <div class="user-info">
    <span class="user-name">{{nomeCliente}}</span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>