<div class="container mat-elevation-z8">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="border-bottom border-3 border-danger">
        Autenticar Usuário
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>CPF</mat-label>
              <input matInput id="cpf" type="text" formControlName="cpf">
              <mat-icon matSuffix>badge</mat-icon>
              <mat-hint>Informe seu CPF</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Senha</mat-label>
              <input matInput id="senha" type="password" formControlName="senha">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
            <mat-icon>login</mat-icon> Entrar
          </button>
        </div>
        <!-- Botão de redirecionamento para cadastro -->
      <div class="d-flex justify-content-center mt-3">
        <button 
          mat-raised-button 
          color="accent" 
          (click)="redirectToCadastro()"
          class="w-100"
        >
          <mat-icon>person_add</mat-icon> Criar Nova Conta
        </button>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>



