<mat-card class="home-card">
  <mat-card-header>
<mat-card-title>Bem-vindo, {{ nomeCliente }}</mat-card-title>
    <mat-card-subtitle *ngIf="saldoTotal$ | async as saldo">
      Seu saldo total: {{ saldo | currency:'BRL':'R$ ':'1.2-2' }}
    </mat-card-subtitle> </mat-card-header>

  <mat-card-content>
    <div class="home-content">
      <mat-icon class="home-icon">home</mat-icon>
      <p>Selecione uma opção no menu para começar</p>
      <!-- Botão para adicionar conta -->
      <button mat-raised-button 
              color="primary" 
              (click)="criarNovaConta()"
              class="add-account-button">
        <mat-icon>add</mat-icon>
        Adicionar Conta
      </button>
    </div>
  </mat-card-content>
</mat-card>